---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import Header from 'src/components/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = Astro.props;

import Graph from './graph.astro';
import AstroHeart from '../components/AstroHeart.astro'
import AlertButton from '../components/AlertButton.astro'
import Modal from '../components/Modal.astro'
---

<BaseLayout pageTitle={pageTitle}>
  <h2>This is my story</h2>
</BaseLayout>

<h3>client side entry...</h3>
<div id="sigma-container"></div>
<script type="module" src="src/pages/index.ts"></script>
<h3>...client side entry</h3>

<h3>webgl...</h3>
<!-- TODO cdnが読み込めないからsigmaインスタンス生成できない？ cdnの読み込みよりスクリプト実行が早い -->
  <!-- <head>
    <title>Sigma.js Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/sigma.min.js"></script>
  </head>
  <body>
    <div id="container">
      <style>
        #container {
          max-width: 400px;
          height: 400px;
        }
      </style>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/sigma.min.js">
      // Initialize sigma.js and bind it to the existing container
      const s = new sigma({
        graph: {
          nodes: [],
          edges: [],
        },
        renderer: {
          container: document.getElementById("container"),
          type: "canvas",
        },
        settings: {
          defaultNodeColor: "#ec5148",
        },
      });

      // Add a single node at the origin
      s.graph.addNode({
        id: "n1",
        label: "Node 1",
        x: 0,
        y: 0,
        size: 1,
        color: "#f00",
      });

      // Add another node
      s.graph.addNode({
        id: "n2",
        label: "Node 2",
        x: 3,
        y: 1,
        size: 1,
        color: "#00f",
      });

      // Add an edge connecting the nodes
      s.graph.addEdge({
        id: "e1",
        source: "n1",
        target: "n2",
        size: 1,
        color: "#0f0",
      });

      // Refresh the graph to reflect the changes
      s.refresh();
    </script>
  </body> -->

<!-- Astroコンポーネントはハイドレーションするとエラーがでる -->
<Graph />
<h3>...webgl</h3>

<AstroHeart />

<AlertButton />

<Modal />